# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


# Build outputs
android/app/build/
ios/build/

# Xcode
ios/Pods/
ios/Podfile.lock
ios/xcuserdata/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/

# Android Studio
*.iml
.gradle/
.idea/

# React Native packager cache
*.metro-cache/

# Editor temporary files
*.tmp
*.temp
*.swp
*~

# Windows system files
Thumbs.db
